.logo{
  width: 30%;
  margin: 0 auto 0 auto;
}

.row {
  text-align: center;
}

.results {
  text-align: left;
  display: none;
}
body {
	font-weight: bold;
}
.callout{
  min-height: 400px;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto auto auto auto;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#droparea{
	width: 400px;
	min-height: 200px;
	margin: auto auto auto auto;
	padding: 0 20px;
	border: 4px solid rgba(0, 82, 156, 0.8);
}

#previewsContainer {
	width: 300px;
	min-height: 280px;
	padding: 10px 20px;
	background: #FFF;
	margin: 0 auto 20px;
}

#selectImage {
	color: #FFF;
	width: 200px;
	text-align: center;
	padding: 10px 0;
	background: rgba(0, 82, 156, 0.5);
	float: left;
	cursor: pointer;
}

#fileSubmit {
	color: #FFF;
	width: 200px;
	margin: 0 0 0 30px;
	text-align: center;
	padding: 10px 0;
	background: rgba(0, 82, 156, 0.5);
	float: left;
	cursor: pointer;
}
